@model AboutVM

<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    
                </div>
            </div>

            <div class="row mb-5">

                <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                        
                        <img src="~/templates/blog/zenblog/assets/img/default_a_halfhuman_looking_at_the_universe_through_the_glass_0_be17e43e-8c31-4f0d-bdbf-11eb8a192215_1.jpg" alt="" class="img-fluid">/>


                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0">
                        <div class="post-meta mt-4">Hakkımda</div>
                        <h2 class="mb-4 display-4">
                            @Model.Name

                            @Model.LastName
                        </h2>

                        @Model.Description




                        <p>Admin Sayfasına Admin/Dashboard/Index Adresinden ulaşabilirsiniz.</p>

                        <hr />

                        <b>Sosyal Medya Hesapları</b>


                        

                        
                        

                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>

                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>

                        <a class="bi-github">  <i class="bi bi-github"></i> </a>
                        
                        






                    </div>
                </div>


            </div>

        </div>
    </section>

    

    

</main>


